/* Advanced CSS, Part 1 */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bordertop {
  border-top: 5px solid #ff0000;
}

.borderbottom {
  border-bottom: 5px solid #00ff00;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.borderright {
  border-right: 5px solid #0000ff;
}

.borderleft {
  border-left: 5px solid #ff00ff;
}

.rainbowborder {
  border-top: 1px solid #ff0000;
  border-bottom: 2px solid #00ff00;
  border-right: 3px solid #0000ff;
  border-left: 4px solid #ff00ff;
}

h1 {
  border-bottom: 5px solid #000000;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.blockimg {
  display: block;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0;
  margin: 10px;
  width: 150px;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 10px;
  text-decoration: none;
  background-color: #cc0000;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a:hover {
  background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}
