/* Assignment 4 - Basic CSS, Continued */

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222222;
  background-color: #eeeeee;
  background-image: url("main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: #990000;
}

main {
  background-color: #ffffff;
}

h1, h2, h3 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

p {
  color: #222222;
}

.centertext {
  text-align: center;
}

.justifytext {
  text-align: justify;
}

img {
  border: 10px solid black;
  padding: 10px;
  background-color: yellow;
}

#pageintro {
  background-color: #eeeeee;
}

.highlight {
  color: #990000;
}

.contentbox {
  background-color: #ffffff;
}

a:link {
  color: #ff0000;
}

a:visited {
  color: #008000;
}

a:active {
  color: #0000ff;
}

a:hover {
  color: #ffff00;
  text-decoration: underline;
}

footer {
  background-color: #990000;
  color: #ffffff;
}

footer p {
  color: #ffffff;
  text-align: center;
}
